################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_Localizacion/FileContentIndex/*
/.vs/STR_Localizacion/v17/*
