################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_Localizacion/FileContentIndex/20e4aae4-df79-47dc-bee1-10bfc3b8172a.vsidx
/.vs/STR_Localizacion/FileContentIndex/9780aff9-b1b2-4a65-b9c7-6248f6942f24.vsidx
/.vs/STR_Localizacion/FileContentIndex/faedd282-2b83-4fa8-aea4-a556a20f0675.vsidx
/.vs/STR_Localizacion/CopilotIndices/0.2.1634.3922/CodeChunks.db-shm
/.vs/STR_Localizacion/FileContentIndex/be053ec4-2b67-44d9-b864-31258d54e2f4.vsidx
/.vs/STR_Localizacion/v17/DocumentLayout.backup.json
/.vs/STR_Localizacion_AddonPeru/FileContentIndex/0e834a46-58a5-4258-bbef-67b314876db3.vsidx
